<%- include("templates/cabeceras",{tituloWeb:'Index'}) %>
    <h1 class="text-primary">cdsfcsd</h1>
    <h2>  <%= titulo %>  </h2>
    <button class="btn  btn-danger">ddd</button>

<%- include("templates/footer") %>
