<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= tituloWeb %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>


 <!-- bootstrap -->
 <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
 <script src="vendor/js/bootstrap.min.js"></script>
 <!-- jquery -->
 <script src="vendor/js/jquery_3_6_4.js"></script>
 <!-- fontawesome -->
 <link rel="stylesheet" href="vendor/fontawesome/css/all.css">
 <script src="vendor/fontawesome/js/all.js"></script>
 <!-- font -->
 <link rel="stylesheet" href="includes/css/font.css">
 <!-- stilos -->
 <link rel="stylesheet" href="includes/css/style.css">
 <!-- sweetalert2 -->
 <link rel="stylesheet" href="vendor/sweetalert/css/sweetalert2.min.css">
 <script src="vendor/sweetalert/js/sweetalert2.all.min.js"></script>
 
 